bingo.json
.deploy
bin/server.log
.idea/
db.sqlite3
*.pyc
.DS_Store
geckodriver.log
.docker
media
local_settings.pybin/server.log
.idea/
db.sqlite3
*.pyc
.DS_Store
geckodriver.log
.docker
media
local_settings.py
static/
